/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway-Regular', Roboto, sans-serif !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.form-control:focus {
    border-color: #ccc;
}

.grey-button, .light-grey-button {
    color: #ffffff;
    font-size: 1em;
    font-family: 'Raleway-ExtraLight';
    margin-right: 15px;
    height: 48px;
}

.grey-button {
    background-color: #767676 !important;
}

.light-grey-button {
    background-color: #a7afb4 !important;
}

.btn {
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background: #0499ff;
}
.btn-default {
  background-color: #0499ff;
  border: 1px solid #ddd;
  color: #fff;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:hover.btn-default:active, .btn-default:hover.btn-default:focus {
  color: #fff;
  background-color: #0499ff;
}
.btn-primary {
  background-color: #0499ff;
  border: 1px solid #2989c6;
}
.btn-primary:hover {
  background-color: #0499ff;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#form {
    padding: 30px 20px 50px;
}

.grey-text {
    color: #858585
}

.dark-grey-text {
    color: #2f2f2f;
}

.sub-heading {
    margin: 20px 0 5px;
    font-size: 12px;
}

.form-separator {
    margin: 10px 0;
}

.box-title {
    font-size: 13px;
    margin-bottom: 4px;
}

.house-details {
    margin-bottom: 30px;
}

button.btn.btn-info{
    background-color: #a7afb4;
    color: #fff;
    padding: 10px 35px;
    border-radius: 6px;
    margin-right: 20px;
    height: 42px;
    cursor: pointer;
}
.btn-default {
    background-color: #0499ff;
    color: #fff;
    padding: 10px 35px;
    border-radius: 6px;
    text-shadow: none;
}

#card {
    background-color: transparent;
    padding: 10% 20px;
}

.card-preview {
    border: 1px solid #333;
    overflow: hidden;
}
.card-content {
    padding: 10px 20px;
}

.entry-title {
    font-size: 12px;
    color: #858585;
    margin-top: 10px;
}
.entry-value {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}
hr.card-separator {
    margin: 5px 0;
}
.card-header {
    height: 100px;
    border-bottom: 1px solid #777;
    margin-bottom: 20px;
    background-color: #777;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
    line-height: 130px;
    position: relative;
}
.avatar-wrapper {
    position: absolute;
    right: 10px;
    top: 35px;
    height: 90px;
    width: 70px;
    background-color: #fff;
    border: 1px solid #777;
}
.avatar {
    background: url('./img/person-solid.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    margin-top: -50px;
}
.title {
    text-align: right;
    margin-bottom: 5px;
}
.btn-info .form-group {
    position: relative;
    top: -30px;
    margin: 0;
    opacity: 0;
    width: 120px;
    cursor: pointer;
}